
@{
    Layout = "~/Views/Shared/_LayoutAdminPanal.cshtml";
    Page.Title = "Index";

}
@model HUTOPS.Models.EducationPageModel



<div class="container-fluid">
    <div class="boxWraper infoBox">
        <div class="headBox">
            <h2>Education</h2>
        </div>
        <form method="post">
            <div class="headBox">
                <h2>HSSC/College Information</h2>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="currentLevel">Your Current Level of Study:</label>
                        <select class="form-control" id="currentLevel" name="currentLevel" onchange="ShowHideField('divUniName','currentLevel','Already enrolled in a University')" required>
                            <option value="">Select Value </option>
                            <option value="HSSC II in progress">HSSC II in progress</option>
                            <option value="HSSC II Completed">HSSC II Completed</option>
                            <option value="Already enrolled in a University">Already enrolled in a University</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.Education.CurrentLevelOfEdu, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-lg-3" id="divUniName">
                    <div class="form-group">
                        <label for="universityName">University Name:</label>
                        <input class="form-control" type="text" id="universityName" name="universityName" value="@Model.Education.UniversityName"><br><br>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="boardOfEducation">Board Of Education:</label>
                        <select class="form-control" id="boardOfEducation" name="boardOfEducation" onchange="GetGroupList(this.value)" required>
                            <option value="" selected>Select Board</option>
                            @foreach (var item in Model.Boards)
                            {
                                if (item.Id.ToString() == Model.Education.BoardOfEdu)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="groupOfStudy">Group Of Studies</label>
                        <select class="form-control" id="groupOfStudy" name="groupOfStudy" onchange="GetSubjectList(this.id)" required>
                            <option value="">Select Group</option>
                            @foreach (var item in Model.Groups)
                            {
                                if (item.Id.ToString() == Model.Education.GroupOfStudy)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="collegeName">Current College/Last College Name:</label>
                        <input class="form-control" type="text" id="collegeName" name="collegeName" value="@Model.Education.CurrentCollege" required>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="collegeAddress">College Address with City Name:</label>
                        <textarea class="form-control" id="collegeAddress" name="collegeAddress" rows="2" required>@Model.Education.CollegeAddress</textarea>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="startingYear">Starting Year:</label>
                        <select class="form-control" id="startingYear" name="startingYear" required>

                            <!-- Options for years, you can generate these dynamically with JavaScript -->
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="completionYear">Completion Year:</label>
                        <select class="form-control" id="completionYear" name="completionYear" required>
                            <!-- Options for years, you can generate these dynamically with JavaScript -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="hsscPercentage">Overall HSSC Percentage:</label>
                        <input class="form-control Percentage" type="text" id="hsscPercentage" name="hsscPercentage" value="@Model.Education.HSSCPercentage" required>
                    </div>
                </div>
            </div>
            <div class="headBox">
                <h2>SSC/School Information</h2>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="secondarySchoolName">Secondary Education School Name:</label>
                        <input class="form-control" type="text" id="secondarySchoolName" name="secondarySchoolName" value="@Model.Education.SchoolName" required>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="secondarySchoolAddress">Secondary Education School Address with City Name:</label>
                        <textarea class="form-control" type="text" id="secondarySchoolAddress" name="secondarySchoolAddress" rows="2" required>@Model.Education.SchoolAddress</textarea>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="sscPercentage">Overall SSC Percentage:</label>
                        <input class="form-control Percentage" type="text" id="sscPercentage" name="sscPercentage" value="@Model.Education.SSCPercentage" required>
                    </div>
                </div>
            </div>
            <!-- Habib University Section -->
            <div class="headBox">
                <h2>Intended Program</h2>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Which HU School are you planning to apply to at Habib University?</label><br>
                        <input type="radio" id="dhananiSchool" name="huSchool" value="dhanani" onclick="loadPrograms(this.value)" required>
                        <label for="dhananiSchool">Dhanani School of Science and Engineering</label><br>
                        <input type="radio" id="artsSchool" name="huSchool" value="arts" onclick="loadPrograms(this.value)">
                        <label for="artsSchool">School of Arts, Humanities and Social Sciences</label><br><br>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Which Degree Program you are planning to pursue at Habib University?</label><br>
                        <!-- This section will be updated based on the selection in the previous question -->
                        <!-- You can use JavaScript to update the options based on the selection -->
                        <select class="form-control" id="degreeProgram" name="degreeProgram" required>
                            <option value="">Select Program</option>
                        </select>
                    </div>
                </div>
            </div>



            <div class="headBox">
                <h2>Subjects Information</h2>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Subject</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Obtain Marks</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Max Marks</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Grade</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="divSubjects">
                        @foreach (var item in Model.Subjects)
                        {
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control SubjectName" value="@item.Name">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control SubjectObtain" value="@item.ObtainMarks" required="">
                                    </div>
                                </div><div class="col-lg-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control SubjectTotal" value="@item.TotalMarks" required="">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control SubjectGrade" value="@item.Grade" required="">
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="global-btn-purple float-right" onclick="AddRow();"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-12">
                    <input class="savebtn global-btn-purple  float-right" type="button" onclick="SubmitEducation();" value="Submit">
                    <input class="savebtn global-btn-purple  float-right" type="button" id="editEducation" onclick="SaveEducation();" value="Save">
                </div>
            </div>
        </form>
        <div id="Error">
            <ul></ul>
        </div>
    </div>
</div>
<a href="@Url.Action("Index", "Documents")" id="redirectLnk" hidden></a>
<script>
    if ('@ViewBag.Result' !== "")
        {
            ShowDivSuccess('@ViewBag.Result');
        }
    $('#divUniName').hide();
    LoadYear('startingYear');
    LoadYear('completionYear');
    //GetBoardList();
    LoadEducationalData(@Html.Raw(Json.Encode(Model)));
</script>

