@model HUTOPS.PersonalInformation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_loginLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PersonalInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HUTopId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HUTopId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherMiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherMiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HusbandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HusbandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountyAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountyAdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlternateCellPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateCellPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TellUs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TellUs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidentialAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidentialAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidentialCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidentialCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidentialCityOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidentialCityOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidentialProvince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidentialProvince)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidentialCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidentialCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidentialPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidentialPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentCityOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentCityOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentProvince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentProvince)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlterEmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlterEmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolNameOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolNameOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentQualification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentQualification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentQualificationOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentQualificationOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlternateLandline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateLandline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmissionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Retake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Retake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAppliedBefore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAppliedBefore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppliedBeforeMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppliedBeforeMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppliedBeforeYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppliedBeforeYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomePhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WhatsAppNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhatsAppNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianCellPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianCellPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianEmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianEmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HearAboutHU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HearAboutHU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HearAboutHUOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HearAboutHUOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Declaration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Declaration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
