@{
    Layout = "~/Views/Shared/_LayoutAdminPanal.cshtml";
    Page.Title = "Personal Information";
}

@model PersonalInformation
<style>

    .styled-checkbox {
        display: none;
    }

        .styled-checkbox + .checkbox-label:before {
            content: '\2713'; /* Checkmark symbol */
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            font-size: 18px;
            color: #333;
            border: 1px solid #333;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 18px;
            cursor: pointer;
            border-radius: 4px;
        }

        /* Style the custom checkbox when checked */
        .styled-checkbox:checked + .checkbox-label:before {
            background-color: #333;
            color: white;
        }

        /* Hover effect for the custom checkbox */
        .styled-checkbox + .checkbox-label:hover:before {
            background-color: #f0f0f0;
            color: #333;
        }

        /* Focus effect for the custom checkbox */
        .styled-checkbox:focus + .checkbox-label:before {
            box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
        }
</style>
<div class="container-fluid">
    <div class="boxWraper infoBox">
        <div class="headBox">
            <h2>Personal Information</h2>
        </div>
        <form id="mainForm" method="post">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input class="form-control" type="text" id="firstName" name="FirstName" value="@Model.FirstName" required>
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="middleName">Middle Name:</label>
                        <input class="form-control" type="text" id="middleName" name="MiddleName" value="@Model.MiddleName">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input class="form-control" type="text" id="lastName" name="LastName" value="@Model.LastName" required>
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="fatherFirstName">Father's First Name:</label>
                        <input class="form-control" type="text" id="fatherFirstName" name="FatherFirstName" value="@Model.FatherFirstName" required>
                        @Html.ValidationMessageFor(model => model.FatherFirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="fatherMiddleName">Father's Middle Name:</label>
                        <input class="form-control" type="text" id="fatherMiddleName" name="FatherMiddleName" value="@Model.FatherMiddleName">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="fatherLastName">Father's Last Name:</label>
                        <input class="form-control" type="text" id="fatherLastName" name="FatherLastName" value="@Model.FatherLastName" required>
                        @Html.ValidationMessageFor(model => model.FatherLastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="cnic">CNIC:</label>
                        <input class="form-control cnic" type="text" id="cnic" name="CNIC" placeholder="12345-1234567-1" maxlength="15" value="@Model.CNIC" readonly><br><br>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="email">Email Address:</label>
                        <input class="form-control" type="email" id="email" name="EmailAddress" value="@Model.EmailAddress" readonly><br><br>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="altEmail">Alternate Email Address:</label>
                        <input class="form-control" type="email" id="altEmail" name="AlterEmailAddress" value="@Model.AlterEmailAddress"><br><br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Gender:</label>
                        <select id="gender" name="Gender" class="custom-select" required>
                            <option value="">Select Gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="T">Prefer not to self-identify</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="husbandName">Husband's Name:</label>
                        <input class="form-control" type="text" id="husbandName" name="HusbandName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="dob">Date of Birth:</label>
                    </div>
                </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" id="dobDay" style="max-width: 100px;" name="dobDay" onchange="UpdateDate()" required>
                                <option value="">Day</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" id="dobMonth" style="max-width: 100px;" name="dobMonth" onchange="UpdateDate()" required>
                                <option value="">Select Month</option>
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">Augest</option>
                                <option value="09">September</option>
                                <option value="10">Octuber</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" id="dobYear" style="max-width: 100px;" name="dobYear" onchange="UpdateDate()" required>
                                <!-- Add options for years as needed -->
                                <option value="">Select Year</option>
                            </select>
                        </div>
                    </div>

                </div>
                @*<div class="row">
                    <div class="col-lg-12">
                        <input class="savebtn global-btn-purple  float-right" type="button" id="editPersonalInfo" value="Submit">
                    </div>
                </div>*@
@*</form>*@

        <!-- Contact Details Section -->
        <div class="headBox">
            <h2>Contact Details</h2>
        </div>
        @*<form action="#" method="post">*@
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="cellPhone">Cell Phone Number:</label>
                        <input class="form-control number" type="tel" id="cellPhone" name="CellPhoneNumber" placeholder="1234567890" maxlength="12" value="@Model.CellPhoneNumber" readonly><br><br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <input type="checkbox" id="differentNumbers" class="styled-checkbox" name="differentNumbers" onclick="toggleFormSection('WhatsAppSection','differentNumbers')">
                    <label for="differentNumbers" class="checkbox-label" style="width: 75%;">Check if WhatsApp number is different from primary mobile number</label>
                    <br /><br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4" >
                    <div id="WhatsAppSection" style="display: none;">
                        <div class="form-group" >
                            <label for="whatsappNumber ">WhatsApp Number:</label>
                            <input class="form-control number" type="tel" id="whatsappNumber" name="WhatsAppNumber" value="@Model.WhatsAppNumber" placeholder="1234567890"><br><br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="altCellPhone">Alternate Cell Phone Number:</label>
                        <input class="form-control number" type="tel" id="altCellPhone" name="AlternateCellPhoneNumber" maxlength="12" value="@Model.AlternateCellPhoneNumber" placeholder="1234567890"><br><br>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="homePhone">Home Phone Number:</label>
                        <input class="form-control" type="tel" id="homePhone" name="HomePhoneNumber" value="@Model.HomePhoneNumber" placeholder="1234567890" required><br><br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="altLandline">Alternate Landline Number:</label>
                        <input class="form-control" type="tel" id="altLandline" name="AlternateLandline" pattern="[0-9]{10}" value="@Model.AlternateLandline" placeholder="1234567890"><br><br>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="guardianCellPhone">Guardian Cell Phone Number:</label>
                        <input class="form-control number" type="tel" id="guardianCellPhone" name="GuardianCellPhoneNumber" value="@Model.GuardianCellPhoneNumber" placeholder="1234567890" required><br><br>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="guardianEmail">Guardian Email Address:</label>
                        <input class="form-control" type="email" id="guardianEmail" name="GuardianEmailAddress" value="@Model.GuardianEmailAddress" required><br><br>
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-lg-12">
                    <input type="button" class="savebtn global-btn-purple  float-right" id="editContactDetails" value="Submit">
                </div>
            </div>*@
        @*</form>*@
        <!--<br />
        <br />


        <!-- Address Information Section -->
            <!--<div class="headBox">
                <h2>Address Details</h2>
            </div>-->
            @*<form action="#" method="post">*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="residentialAddress">Residential Address:</label>
                                <textarea class="form-control" id="residentialAddress" name="ResidentialAddress" rows="2" cols="100" required></textarea><br><br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label  for="residentialCountry">Select Country:</label>
                                <select class="form-control" id="residentialCountry" name="ResidentialCountry" onchange="updateProvince(this.id,'residentialProvince');" required>
                                    <option value="">Select Country</option>
                                    <option value="pakistan">Pakistan</option>
                                </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="residentialProvince">Select Province/State:</label>
                                <select class="form-control" id="residentialProvince" name="ResidentialProvince" onchange="updateCities(this.id,'residentialCity');" required>
                                    <option value="">Select Provience</option>
                                </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="residentialCity">City:</label>
                                <select class="form-control" id="residentialCity" name="ResidentialCity" onchange="toggleOtherCityInput(this.id,'residentialCityOther')"required>
                                    <option value="">Select City</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="residentialCityOther">Other City:</label>
                                <input class="form-control" type="text" id="residentialCityOther" name="ResidentialCityOther" style="display: none;"><br><br>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="residentialPostalCode">Residential Postal Code:</label>
                                <input class="form-control" type="text" id="residentialPostalCode" name="ResidentialPostalCode" required><br><br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="checkbox" class="styled-checkbox" id="permanentDifferent" onclick="toggleFormSection('permanentForm', 'permanentDifferent');">
                        <label class="checkbox-label" for="permanentDifferent" style="width:75%;">Check the box if your permanent residential address is different from your Residential address:</label>
                    </div>
                </div>

                <div id="permanentForm" style="display: none;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="permanentAddress">Permanent Address:</label>
                                <textarea class="form-control" id="permanentAddress" name="PermanentAddress" rows="2" cols="50"></textarea><br><br>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="permanentCountry">Select Country:</label>
                                <select class="form-control" id="permanentCountry" name="PermanentCountry" onchange="updateProvince(this.id,'permanentProvince');">
                                    <option value="">Select Country</option>
                                    <option value="pakistan">Pakistan</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">

                            <div class="form-group">
                                <label for="permanentProvince">Select Province/State:</label>
                                <select class="form-control" id="permanentProvince" name="PermanentProvince" onchange="updateCities(this.id,'permanentCity');">
                                    <option value="">Select Provience</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="permanentCity">City:</label>
                                <select class="form-control" id="permanentCity"name="PermanentCity" onchange="toggleOtherCityInput(this.id,'permanentCityOther')">
                                    <option value="">Select City</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="permanentCityOther">Other City:</label>
                                <input class="form-control" type="text" id="permanentCityOther" name="PermanentCityOther" style="display: none;"><br><br>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="permanentPostalCode">Permanent Postal Code:</label>
                                <input class="form-control" type="text" id="permanentPostalCode" name="PermanentPostalCode">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                        <input class="savebtn global-btn-purple  float-right" type="submit" value="Submit">
                        <input class="savebtn global-btn-purple  float-right" type="button" onclick="Save()" value="Save">
                    </div>
                </div>
                <input type="text" name="DateOfBirth" id="DateOfBirth" style="display:none" />
            </form>


    </div>
</div>








<script>
        if ('@ViewBag.Result' !== "")
        {
            ShowDivError('@ViewBag.Result');
        }
        LoadYear("dobYear");
        LoadPersonalData_Combo()
        function LoadPersonalData_Combo() {
        $('#gender').val('@Model.Gender');
        $('#gender').trigger('change');

        if ('@Model.DateOfBirth' != '' || '@Model.DateOfBirth' != null) {
            var date = new Date('@Model.DateOfBirth');
            var day = date.getDate().toString().padStart(2, '0');
            var month = (date.getMonth() + 1).toString().padStart(2, '0');
            var year = date.getFullYear();
            $('#dobDay').val(day.toString());
            $('#dobDay').trigger('change');
            $('#dobMonth').val(month.toString());
            $('#dobMonth').trigger('change');
            $('#dobYear').val(year.toString());
            $('#dobYear').trigger('change');
        }


        $('#residentialAddress').val('@Model.ResidentialAddress');
        $('#residentialCountry').val('@Model.ResidentialCountry');
        $('#residentialCountry').trigger('change');
        $('#residentialProvince').val('@Model.ResidentialProvince');
        $('#residentialProvince').trigger('change');
        $('#residentialCity').val('@Model.ResidentialCity');
        $('#residentialCity').trigger('change');
        $('#residentialCityOther').val('@Model.ResidentialCityOther');
        $('#residentialPostalCode').val('@Model.ResidentialPostalCode');

        $('#permanentAddress').val('@Model.PermanentAddress');
        $('#permanentCountry').val('@Model.PermanentCountry');
        $('#permanentCountry').trigger('change');
        $('#permanentProvince').val('@Model.PermanentProvince');
        $('#permanentProvince').trigger('change');
        $('#permanentCity').val('@Model.PermanentCity');
        $('#permanentCity').trigger('change');
        $('#permanentCityOther').val('@Model.PermanentCityOther');
        $('#permanentPostalCode').val('@Model.PermanentPostalCode');
    }


    function UpdateDate() {
        $('#DateOfBirth').val($('#dobYear').val() + "-" + $('#dobMonth').val() + "-" + $('#dobDay').val());
    }
        function Save() {

        const day = document.getElementById("dobDay").value;
        const month = document.getElementById("dobMonth").value;
        const year = document.getElementById("dobYear").value;

        // Create a new Date object using the selected values
        var dob = new Date(`${year}-${month}-${day}`);
        var param = {
            firstName: $('#firstName').val(),
            middleName: $('#middleName').val(),
            lastName: $('#lastName').val(),
            fatherFirstName: $('#fatherFirstName').val(),
            fatherMiddleName: $('#fatherMiddleName').val(),
            fatherLastName: $('#fatherLastName').val(),
            cnic: $('#cnic').val(),
            emailAddress: $('#email').val(),
            alterEmailAddress: $('#altEmail').val(),
            gender: document.getElementById("gender").value,
            husbandName: $('#husbandName').val(),
            dateofBirth: dob,
            // Contact Info
            cellPhoneNumber: $('#cellPhone').val(),
            whatsAppNumber: $('#whatsappNumber').val(),
            alternateCellPhoneNumber: $('#altCellPhone').val(),
            homePhoneNumber: $('#homePhone').val(),
            alternateLandline: $('#altLandline').val(),
            guardianCellPhoneNumber: $('#guardianCellPhone').val(),
            guardianEmailAddress: $('#guardianEmail').val(),
            // Address info
            residentialAddress: $('#residentialAddress').val(),
            residentialCountry: $('#residentialCountry').val(),
            residentialProvince: $('#residentialProvince').val(),
            residentialCity: $('#residentialCity').val(),
            residentialCityOther: $('#residentialCityOther').val(),
            residentialPostalCode: $('#residentialPostalCode').val(),

            permanentAddress: $('#permanentAddress').val(),
            permanentCountry: $('#permanentCountry').val(),
            permanentProvince: $('#permanentProvince').val(),
            permanentCity: $('#permanentCity').val(),
            permanentCityOther: $('#permanentCityOther').val(),
            permanentPostalCode: $('#permanentPostalCode').val(),


        };

        CallAsyncService('/Home/Save', JSON.stringify(param), editSaveCallback);

        function editSaveCallback(response) {
            if (response.status) {
                ShowDivSuccess(response.message)
            }
            else {
                ShowDivError(response.message)
            }
        }

    }


</script>
