@{
    Layout = null;
}

@model PersonalInformation

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Custom/HomeForm.css" rel="stylesheet" />
    <script src="~/Scripts/Custom.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

    @*Notify CDN*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js" integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js" integrity="sha512-uE2UhqPZkcKyOjeXjPCmYsW9Sudy5Vbv0XwAVnKBamQeasAVAmH6HR9j5Qpy6Itk1cxk+ypFRPeAZwNnEwNuzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.css" integrity="sha512-CJ6VRGlIRSV07FmulP+EcCkzFxoJKQuECGbXNjMMkqu7v3QYj37Cklva0Q0D/23zGwjdvoM4Oy+fIIKhcQPZ9Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <title>Dashboard</title>
</head>
<body>
    <h1>Personal Information</h1>
    <!-- Contact Details Section -->
    <div class="mainformDiv">
        <fieldset>
            <legend>Personal Info</legend>
            <form action="#" method="post">

                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" value="@Model.FirstName" required>

                <label for="middleName">Middle Name:</label>
                <input type="text" id="middleName" name="middleName" value="@Model.MiddleName">

                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" value="@Model.LastName" required><br><br>

                <label for="fatherFirstName">Father's First Name:</label>
                <input type="text" id="fatherFirstName" name="fatherFirstName" value="@Model.FatherFirstName" required><br><br>

                <label for="fatherMiddleName">Father's Middle Name:</label>
                <input type="text" id="fatherMiddleName" name="fatherMiddleName" value="@Model.FatherMiddleName"><br><br>

                <label for="fatherLastName">Father's Last Name:</label>
                <input type="text" id="fatherLastName" name="fatherLastName" value="@Model.FatherLastName" required><br><br>

                <label for="cnic">CNIC:</label>
                <input type="text" id="cnic" name="cnic" pattern="[0-9]{5}-[0-9]{7}-[0-9]{1}" placeholder="12345-1234567-1" value="@Model.CNIC" maxlength="13" value="@Model.CNIC" disabled><br><br>

                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" value="@Model.EmailAddress" disabled><br><br>

                <label for="altEmail">Alternate Email Address:</label>
                <input type="email" id="altEmail" name="altEmail" value="@Model.AlterEmailAddress"><br><br>

                <label>Gender:</label>
                <select id="gender" class="custom-select">
                    <option>Select Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="T">Prefer not to self-identify</option>
                </select><br><br>

                <label for="husbandName">Husband's Name:</label>
                <input type="text" id="husbandName" name="husbandName"><br><br>

                <label for="dob">Date of Birth:</label>
                <select id="dobDay" class="custom-select" style="max-width: 100px;" name="dobDay">
                    <option>Day</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>

                <select id="dobMonth" class="custom-select" style="max-width: 100px;" name="dobMonth">
                    <option>Select Month</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">Augest</option>
                    <option value="09">September</option>
                    <option value="10">Octuber</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>

                <select id="dobYear" class="custom-select" style="max-width: 100px;" name="dobYear">
                    <!-- Add options for years as needed -->
                    <option>Select Year</option>
                </select>
                <br><br>

                <input type="button" id="editPersonalInfo" value="Submit">
            </form>
        </fieldset>

        <!-- Contact Details Section -->
        <fieldset>
            <legend>Contact Details</legend>
            <form action="#" method="post">
                <label for="cellPhone">Cell Phone Number:</label>
                <div class="input-group">
                    <input type="tel" id="cellPhone" name="cellPhone" pattern="[0-9]{10}" placeholder="1234567890" maxlength="12" value="@Model.CellPhoneNumber" disabled><br><br>
                </div>
                    <input type="checkbox" id="differentNumbers" class="styled-checkbox" name="differentNumbers">
                    <label for="differentNumbers" class="checkbox-label" style="width: 75%;">Check if WhatsApp number is different from primary mobile number</label>
                    <br /><br />
                    <div id="textWhatsApp" hiddin>
                        <label for="whatsappNumber">WhatsApp Number:</label>
                        <input type="tel" id="whatsappNumber" name="whatsappNumber" pattern="[0-9]{10}" value="@Model.WhatsAppNumber" placeholder="1234567890"><br><br>
                    </div>
                    <label for="altCellPhone">Alternate Cell Phone Number:</label>
                    <input type="tel" id="altCellPhone" name="altCellPhone" pattern="[0-9]{10}" maxlength="12"value="@Model.AlternateCellPhoneNumber" placeholder="1234567890"><br><br>

                    <label for="homePhone">Home Phone Number:</label>
                    <input type="tel" id="homePhone" name="homePhone" pattern="[0-9]{10}" value="@Model.HomePhoneNumber" placeholder="1234567890"><br><br>

                    <label for="altLandline">Alternate Landline Number:</label>
                    <input type="tel" id="altLandline" name="altLandline" pattern="[0-9]{10}" value="@Model.AlternateLandline" placeholder="1234567890"><br><br>

                    <label for="guardianCellPhone">Guardian Cell Phone Number:</label>
                    <input type="tel" id="guardianCellPhone" name="guardianCellPhone" pattern="[0-9]{10}" value="@Model.GuardianCellPhoneNumber" placeholder="1234567890"><br><br>

                    <label for="guardianEmail">Guardian Email Address:</label>
                    <input type="email" id="guardianEmail" name="guardianEmail" value="@Model.GuardianEmailAddress"><br><br>

                    <input type="button" id="editContactDetails" value="Submit">
            </form>

        </fieldset>

        <!-- Address Information Section -->
        <fieldset>
            <legend>Address Details</legend>
            <form action="#" method="post">
                <fieldset>
                    <legend>Residential Address</legend>
                    <label for="residentialAddress">Residential Address:</label>
                    <textarea id="residentialAddress" name="residentialAddress" rows="2" cols="100" required></textarea><br><br>
                    <label for="country">Select Country:</label>
                    <select id="country" onchange="updateProvince();">
                        <option>Select Country</option>
                        <option value="pakistan">Pakistan</option>
                    </select><br><br>

                    <label for="province">Select Province/State:</label>
                    <select id="province" onchange="updateCities();">
                        <option>Select Provience</option>
                    </select><br><br>

                    <label for="city">City:</label>
                    <select id="city">
                        <option>Select City</option>
                    </select><br><br>

                    <label for="residentialCityOther">Other City:</label>
                    <input type="text" id="residentialCityOther" name="residentialCityOther" style="display: none;"><br><br>

                    <label for="residentialPostalCode">Residential Postal Code:</label>
                    <input type="text" id="residentialPostalCode" name="residentialPostalCode" required><br><br>

                    <input type="checkbox" id="permanentDifferent" onclick="toggleFormSection('permanentForm', 'permanentDifferent');">
                    <label for="permanentDifferent" style="width:75%;">Check the box if your permanent residential address is different from your Residential address:</label>


                    <div id="permanentForm" style="display: none;">
                        <fieldset>
                            <legend>Permanent Address</legend>
                            <label for="permanentAddress">Permanent Address:</label>
                            <textarea id="permanentAddress" name="permanentAddress" rows="4" cols="50" required></textarea><br><br>

                            <label for="country">Select Country:</label>
                            <select id="country" onchange="updateProvince();">
                                <option>Select Country</option>
                                <option value="pakistan">Pakistan</option>
                            </select><br><br>

                            <label for="province">Select Province/State:</label>
                            <select id="province" onchange="updateCities();">
                                <option>Select Provience</option>
                            </select><br><br>

                            <label for="city">City:</label>
                            <select id="city">
                                <option>Select City</option>
                            </select><br><br>

                            <label for="permanentPostalCode">Permanent Postal Code:</label>
                            <input type="text" id="permanentPostalCode" name="permanentPostalCode" required><br><br>
                        </fieldset>
                    </div>

                </fieldset>

                <input type="button" id="editAddressDetails" value="Submit">
            </form>

        </fieldset>

        <!-- Academic Details Section -->
        <fieldset>
            <legend>Academic Details </legend>
            <label for="fathername">Father's Name:</label>
            <input type="text" id="fathername" name="fathername" required><br>

            <label for="mothername">Mother's Name:</label>
            <input type="text" id="mothername" name="mothername" required><br>
        </fieldset>
    </div>




    <script>
        $('#textWhatsApp').hide();
        LoadYear();
        LoadPersonalData_Combo()


        function LoadPersonalData_Combo() {
            debugger
            $('#gender').val('@Model.Gender');
            $('#gender').trigger('change');

            var date = new Date('@Model.DateOfBirth');
            var day = date.getDate().toString().padStart(2, '0');
            var month = (date.getMonth() + 1).toString().padStart(2, '0');
            var year = date.getFullYear();
            console.log(day + "-" + month + "-" + year + "");
            $('#dobDay').val(day.toString());
            $('#dobDay').trigger('change');
            $('#dobMonth').val(month.toString());
            $('#dobMonth').trigger('change');
            $('#dobYear').val(year.toString());
            $('#dobYear').trigger('change');
        }

        $('#cellPhone').inputmask("9999-9999999");
        $('#whatsappNumber').inputmask("9999-9999999");
        $('#altCellPhone').inputmask("9999-9999999");
        $('#homePhone').inputmask("9999-9999999");
        $('#guardianCellPhone').inputmask("9999-9999999");


        $('#differentNumbers').on('change', function () {
            if ($(this).is(':checked')) {
                $('#textWhatsApp').show();
            } else {
                $('#textWhatsApp').hide();
            }
        });




        function toggleOtherCityInput() {
            var select = document.getElementById("residentialCity");
            var otherInput = document.getElementById("residentialCityOther");

            if (select.value === "other") {
                otherInput.style.display = "block";
            } else {
                otherInput.style.display = "none";
            }
        }

        function toggleFormSection(sectionId, checkboxId) {
            var section = document.getElementById(sectionId);
            var checkbox = document.getElementById(checkboxId);

            section.style.display = checkbox.checked ? "block" : "none";
        }

        function LoadYear() {
            var comboYear = document.getElementById("dobYear");
            for (var j = 2023; j > 1950; j--) {
                var option = document.createElement("option");
                option.value = j;
                option.text = j;
                comboYear.appendChild(option);
            }
        }

        function updateCities() {
            var provinceSelect = document.getElementById("province");
            var citySelect = document.getElementById("city");

            var selectedProvince = provinceSelect.value;


            var citiesByProvince = {
                "Punjab": ["Lahore", "Faisalabad", "Rawalpindi", "Multan", "Gujranwala"],
                "Sindh": ["Karachi", "Hyderabad", "Sukkur", "Larkana"],
                "Khyber Pakhtunkhwa": ["Peshawar", "Abbottabad", "Swat", "Mardan"],
                "Balochistan": ["Quetta", "Gwadar", "Khuzdar", "Turbat"],
                "Gilgit-Baltistan": ["Gilgit", "Skardu", "Hunza", "Ghizer"],
                "Azad Kashmir": ["Muzaffarabad", "Mirpur", "Kotli", "Rawalakot"]
                // ... and so on
            };

            // Update city select box options based on selected province
            citySelect.innerHTML = "";
            var cities = citiesByProvince[selectedProvince];
            for (var j = 0; j < cities.length; j++) {
                var option = document.createElement("option");
                option.value = cities[j];
                option.text = cities[j];
                citySelect.appendChild(option);
            }
        }

        function updateProvince() {
            var countrySelect = document.getElementById("country");
            var provinceSelect = document.getElementById("province");

            var selectedCountry = countrySelect.value;

            // Simulated data (you can replace this with actual data)
            var provincesByCountry = {
                "pakistan": ["Punjab", "Sindh", "Khyber Pakhtunkhwa", "Balochistan", "Gilgit-Baltistan", "Azad Kashmir"]
            };


            // Update province select box options based on selected country
            provinceSelect.innerHTML = "";
            var provinces = provincesByCountry[selectedCountry];
            for (var i = 0; i < provinces.length; i++) {
                var option = document.createElement("option");
                option.value = provinces[i];
                option.text = provinces[i];
                provinceSelect.appendChild(option);
            }

        }

        $('#editPersonalInfo').click(function (e) {
            e.preventDefault();
            const day = document.getElementById("dobDay").value;
            const month = document.getElementById("dobMonth").value;
            const year = document.getElementById("dobYear").value;

            // Create a new Date object using the selected values
            var dob = new Date(`${year}-${month}-${day}`);
            var param = {
                firstName: $('#firstName').val(),
                middleName: $('#middleName').val(),
                lastName: $('#lastName').val(),
                fatherFirstName: $('#fatherFirstName').val(),
                fatherMiddleName: $('#fatherMiddleName').val(),
                fatherLastName: $('#fatherLastName').val(),
                cnic: $('#cnic').val(),
                emailAddress: $('#email').val(),
                alterEmailAddress: $('#altEmail').val(),
                gender: document.getElementById("gender").value,
                husbandName: $('#husbandName').val(),
                dateofBirth: dob


            };

            CallAsyncService('/Home/UpdatePersonalInfo', JSON.stringify(param), editUserCallback);

            function editUserCallback(response) {
                if (response.status) {
                    ShowDivSuccess(response.message)
                }
                else {
                    ShowDivError(response.message)
                }
                setTimeout(function () { location.reload(); }, 3000);
            }

        });

        $('#editContactDetails').click(function (e) {
            e.preventDefault();
            if ($('#whatsappNumber').val() === '') {
                $('#whatsappNumber').val($('#cellPhone').val())
            }
            var param = {
                cellPhoneNumber: $('#cellPhone').val(),
                whatsAppNumber: $('#whatsappNumber').val(),
                alternateCellPhoneNumber: $('#altCellPhone').val(),
                homePhoneNumber: $('#homePhone').val(),
                alternateLandline: $('#altLandline').val(),
                guardianCellPhoneNumber: $('#guardianCellPhone').val(),
                guardianEmailAddress: $('#guardianEmail').val()
            };

            CallAsyncService('/Home/UpdateContactDetails', JSON.stringify(param), editUserCallback);

            function editUserCallback(response) {
                if (response.status) {
                    ShowDivSuccess(response.message)
                }
                else {
                    ShowDivError(response.message)
                }
                setTimeout(function () { location.reload(); }, 3000);
            }

        });

    </script>
</body>
</html>