@using HUTOPS.Models
@using HUTOPS.Helper
@model ApplicationModel
@{
    ViewBag.Title = "Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <div class="accordion" id="accordionExample">
        <h6 class="m-4">
            Note: Fields marked with an <span class="text-danger h-6" style="font-size: 1.1rem;">*</span> are
            mandatory.
        </h6>
        <div class="card m-4">
            <div class="card-header CollapseCard" id="headingOne" onclick="document.getElementById('btnPersonalInfo').click();">

                <h2 class="mb-0">
                    <a class="btn btn-link w-100" id="btnPersonalInfo" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Personal Information
                        <span class="w-100"><i class="fa-solid" aria-hidden="true" style="color: white;font-size: 39px;"></i></span>
                    </a>

                </h2>

            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="boxWraper infoBox">
                            <div class="headBox">
                                <h2>Personal Information</h2>
                            </div>
                            <form id="PersonalInfoForm">
                                <input class="form-control" type="text" id="id" name="Id" maxlength="25" style="display:none;" value="@Model.PersonalInfo.Id">

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="firstName">First Name<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <input class="form-control" type="text" id="firstName" name="FirstName" maxlength="25" value="@Model.PersonalInfo.FirstName" oninput="validateText(this); validateName(this.id,'errFirstName')" required>
                                            <span class="text-danger" id="errFirstName"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="middleName">Middle Name:</label>
                                            <input class="form-control" type="text" id="middleName" name="MiddleName" maxlength="25" value="@Model.PersonalInfo.MiddleName" oninput="validateText(this); validateName(this.id, 'errMiddleName');">
                                            <span class="text-danger" id="errMiddleName"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="lastName">Last Name<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <input class="form-control" type="text" id="lastName" name="LastName" maxlength="25" value="@Model.PersonalInfo.LastName" oninput="validateText(this); validateName(this.id,'errLastName')" required>
                                            <span class="text-danger" id="errLastName"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="fatherFirstName">Father's First Name<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <input class="form-control" type="text" id="fatherFirstName" maxlength="25" name="FatherFirstName" value="@Model.PersonalInfo.FatherFirstName" oninput="validateText(this); validateName(this.id,'errFatherFName')" required>
                                            <span class="text-danger" id="errFatherFName"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="fatherMiddleName">Father's Middle Name:</label>
                                            <input class="form-control" type="text" id="fatherMiddleName" maxlength="25" name="FatherMiddleName" value="@Model.PersonalInfo.FatherMiddleName" oninput="validateText(this); validateName(this.id,'errFatherMName')">
                                            <span class="text-danger" id="errFatherMName"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="fatherLastName">Father's Last Name<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <input class="form-control" type="text" id="fatherLastName" maxlength="25" name="FatherLastName" value="@Model.PersonalInfo.FatherLastName" oninput="validateText(this); validateName(this.id,'errFatherLName')" required>
                                            <span class="text-danger" id="errFatherLName"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="cnic">CNIC / B-Form Number:</label>
                                            <input class="form-control cnic" type="text" id="cnic" name="CNIC" placeholder="12345-1234567-1" value="@Model.PersonalInfo.CNIC" maxlength="15" onchange="checkCNIC(this.id);">
                                            <span class="text-danger" id="cnicError"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="email">Email Address<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <input class="form-control" type="email" id="email" name="EmailAddress" maxlength="35" value="@Model.PersonalInfo.EmailAddress" oninput="validateEmail(this.id,'emailError');" onchange="checkEmail(this.id);" required>
                                            <span class="text-danger" id="emailError"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" hidden>
                                        <div class="form-group">
                                            <label for="altEmail">Alternate Email Address:</label>
                                            <input class="form-control" type="email" id="altEmail" name="AlterEmailAddress" value="@Model.PersonalInfo.AlterEmailAddress" maxlength="35" oninput="validateEmail(this.id,'errAltEmail');">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Gender<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <select id="gender" name="Gender" class="custom-select" required>
                                                <option value="">Select Gender</option>
                                                @if (Model.PersonalInfo.Gender == "M")
                                                {
                                                    <option value="M" selected>Male</option>
                                                }
                                                else
                                                {
                                                    <option value="M">Male</option>
                                                }
                                                @if (Model.PersonalInfo.Gender == "F")
                                                {
                                                    <option value="F" selected>Female</option>
                                                }
                                                else
                                                {
                                                    <option value="F">Female</option>
                                                }
                                                @if (Model.PersonalInfo.Gender == "T")
                                                {
                                                    <option value="T" selected>Prefer not to self-identify</option>
                                                }
                                                else
                                                {
                                                    <option value="T">Prefer not to self-identify</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" id="divHusband" style="display:none;">
                                        <div class="form-group">
                                            <label for="husbandName">Husband's Name:</label>
                                            <input class="form-control" type="text" id="husbandName" value="@Model.PersonalInfo.HusbandName" maxlength="25" name="HusbandName">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="dob">Date of Birth<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            @*<input type="date" class="form-control" id="dob" name="DateOfBirth" required />*@
                                            <div class="col-lg-12 d-flex m-0 p-0">
                                                <select class="form-control mr-2" id="dobDay" style="max-width: 100px;" name="dobDay" required>
                                                    <option value="" selected disabled>Day</option>
                                                    <option value="01">01</option>
                                                    <option value="02">02</option>
                                                    <option value="03">03</option>
                                                    <option value="04">04</option>
                                                    <option value="05">05</option>
                                                    <option value="06">06</option>
                                                    <option value="07">07</option>
                                                    <option value="08">08</option>
                                                    <option value="09">09</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option value="25">25</option>
                                                    <option value="26">26</option>
                                                    <option value="27">27</option>
                                                    <option value="28">28</option>
                                                    <option value="29">29</option>
                                                    <option value="30">30</option>
                                                    <option value="31">31</option>
                                                </select>
                                                <select class="form-control mr-2" id="dobMonth" style="max-width: 100px;" name="dobMonth" required>
                                                    <option value="" selected disabled>Month</option>
                                                    <option value="01">January</option>
                                                    <option value="02">February</option>
                                                    <option value="03">March</option>
                                                    <option value="04">April</option>
                                                    <option value="05">May</option>
                                                    <option value="06">June</option>
                                                    <option value="07">July</option>
                                                    <option value="08">August</option>
                                                    <option value="09">September</option>
                                                    <option value="10">Octuber</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                                <select class="form-control mr-2" id="dobYear" style="max-width: 100px;" name="dobYear" required >
                                                    <!-- Add options for years as needed -->
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Contact Details Section -->
                                <div class="headBox">
                                    <h2>Contact Details</h2>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="cellPhone">Cell Phone Number <span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <input class="form-control number" type="tel" id="cellPhone" value="@Model.PersonalInfo.CellPhoneNumber" name="CellPhoneNumber" placeholder="0333-3333333" onchange="checkPhoneNumber(this.id);" maxlength="15" required>
                                            <span class="text-danger" id="numberError"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="checkbox" id="differentNumbers" class="styled-checkbox" name="differentNumbers" onclick="toggleFormSection('WhatsAppSection','differentNumbers')">
                                        <label for="differentNumbers" class="checkbox-label" style="width: 75%;">Check if WhatsApp number is different from primary mobile number</label>
                                        <br /><br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4" id="WhatsAppSection" style="display: none;">
                                        <div>
                                            <div class="form-group">
                                                <label for="whatsappNumber ">WhatsApp Number:</label>
                                                <input class="form-control number" type="tel" value="@Model.PersonalInfo.WhatsAppNumber" id="whatsappNumber" name="WhatsAppNumber" maxlength="15" placeholder="0333-3333333">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="altCellPhone">Alternate Cell Phone Number<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <input class="form-control number" type="tel" id="altCellPhone" value="@Model.PersonalInfo.AlternateCellPhoneNumber" name="AlternateCellPhoneNumber" maxlength="15" placeholder="0333-3333333" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="homePhone">Home Phone Number <span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <input class="form-control" type="tel" id="homePhone" value="@Model.PersonalInfo.HomePhoneNumber" name="HomePhoneNumber" oninput="validateNumber(this)" placeholder="1234567890" maxlength="15" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" hidden>
                                        <div class="form-group">
                                            <label for="altLandline">Alternate Landline Number:</label>
                                            <input class="form-control" type="tel" id="altLandline" value="@Model.PersonalInfo.AlternateLandline" name="AlternateLandline" oninput="validateNumber(this)" maxlength="15" placeholder="1234567890">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="guardianCellPhone">Parents/Guardian Cell Phone Number <span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <input class="form-control number" type="tel" id="guardianCellPhone" value="@Model.PersonalInfo.GuardianCellPhoneNumber" name="GuardianCellPhoneNumber" maxlength="15" placeholder="1234567890" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="guardianEmail">Parents/Guardian Email Address <span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <input class="form-control" type="email" maxlength="35" id="guardianEmail" value="@Model.PersonalInfo.GuardianEmailAddress" name="GuardianEmailAddress" oninput="validateEmail(this.id,'errGuardianEmail')" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="residentialAddress">Residential Address<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <textarea class="form-control" id="residentialAddress" name="ResidentialAddress" rows="2" cols="100" maxlength="100" required> @Model.PersonalInfo.ResidentialAddress</textarea><br><br>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="residentialCountry">Select Country<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <select class="form-control" id="residentialCountry" onchange="updateProvince(this.id, 'residentialProvince');" required>
                                                <option value="" selected disabled>Select Country</option>
                                                @foreach (var item in Model.Country)
                                                {
                                                    if (item.Name == Model.PersonalInfo.ResidentialCountry || item.Name == "Pakistan")
                                                    {
                                                        <option value="@item.Id" selected>@item.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="residentialProvince">Select Province/State<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <select class="form-control" id="residentialProvince" onchange="updateCities(this.id,'residentialCity');" required>
                                                <option value="" selected disabled>Select Province</option>
                                                @foreach (var item in Model.Province)
                                                {
                                                    if (item.Name == Model.PersonalInfo.ResidentialProvince)
                                                    {
                                                        <option value="@item.Id" selected>@item.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="residentialCity">City<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>

                                            <select class="form-control" id="residentialCity" onchange="toggleOtherCityInput(this.id,'divResidentialCityOther')" required>
                                                <option value="" selected disabled>Select City</option>
                                                @foreach (var item in Model.City)
                                                {
                                                    if (item.Name == Model.PersonalInfo.ResidentialCity)
                                                    {
                                                        <option value="@item.Id" selected>@item.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }

                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" id="divResidentialCityOther" style="display: none;">
                                        <div class="form-group">
                                            <label for="residentialCityOther">Other City<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <input class="form-control" type="text" id="residentialCityOther" value="@Model.PersonalInfo.ResidentialCityOther" name="ResidentialCityOther"><br><br>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" hidden>
                                        <div class="form-group">
                                            <label for="residentialPostalCode">Residential Postal Code:</label>
                                            <input class="form-control" type="text" id="residentialPostalCode" value="@Model.PersonalInfo.ResidentialPostalCode" oninput="validateNumber(this)" name="ResidentialPostalCode" maxlength="6"><br><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="checkbox" class="styled-checkbox" id="permanentDifferent" onclick="toggleFormSection('permanentForm', 'permanentDifferent');">
                                        <label class="checkbox-label" for="permanentDifferent" style="width:75%;">Check the box if your permanent residential address is different from your Residential address:</label>
                                    </div>
                                </div>

                                <div id="permanentForm" style="display: none;">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="permanentAddress">Permanent Address<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                                <textarea class="form-control" id="permanentAddress" name="PermanentAddress" rows="2" cols="50" maxlength="100">@Model.PersonalInfo.PermanentAddress</textarea><br><br>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="permanentCountry">Select Country<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>

                                                <select class="form-control" id="permanentCountry" onchange="updateProvince(this.id,'permanentProvince');">
                                                    <option value="" selected disabled>Select Country</option>
                                                    @foreach (var item in Model.Country)
                                                    {
                                                        if (item.Name == Model.PersonalInfo.PermanentCountry)
                                                        {
                                                            <option value="@item.Id" selected>@item.Name</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">

                                            <div class="form-group">
                                                <label for="permanentProvince">Select Province/State<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                                <select class="form-control" id="permanentProvince" onchange="updateCities(this.id,'permanentCity');">
                                                    <option value="" selected disabled>Select Province</option>
                                                    @foreach (var item in Model.Province)
                                                    {
                                                        if (item.Name == Model.PersonalInfo.PermanentProvince)
                                                        {
                                                            <option value="@item.Id" selected>@item.Name</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="permanentCity">City<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                                <select class="form-control" id="permanentCity" onchange="toggleOtherCityInput(this.id,'divPermanentCityOther')">
                                                    <option value="" selected disabled>Select City</option>
                                                    @foreach (var item in Model.City)
                                                    {
                                                        if (item.Name == Model.PersonalInfo.PermanentCity)
                                                        {
                                                            <option value="@item.Id" selected>@item.Name</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-4" id="divPermanentCityOther" style="display: none;">
                                            <div class="form-group">
                                                <label for="permanentCityOther">Other City<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                                <input class="form-control" type="text" id="permanentCityOther" name="PermanentCityOther" value="@Model.PersonalInfo.PermanentCityOther"><br><br>
                                            </div>
                                        </div>
                                        <div class="col-lg-4" hidden>
                                            <div class="form-group">
                                                <label for="permanentPostalCode">Permanent Postal Code:</label>
                                                <input class="form-control" type="text" id="permanentPostalCode" value="@Model.PersonalInfo.PermanentPostalCode" oninput="validateNumber(this)" maxlength="6" name="PermanentPostalCode">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>How did you first hear about Habib University?<span class="text-danger h-6" style="font-size: 1.1rem;">*</span></label>
                                            <select class="form-control" id="comboHearHU" name="HearAboutHU" style="padding:0;" onchange="ShowHideField('divOtherHearHU','comboHearHU','Other')" required>
                                                <option value="" selected disabled>How did you first hear about Habib University?</option>
                                                <option value="College/School visit by HU TOPS team">College/School visit by HU TOPS team</option>
                                                <option value="HU TOPS/Habib University Website">HU TOPS/Habib University Website</option>
                                                <option value="HU TOPS/Habib University Facebook page">HU TOPS/Habib University Facebook page</option>
                                                <option value="Habib University Instagram page">Habib University Instagram page</option>
                                                <option value="Through Teacher/Tutor ">Through Teacher/Tutor </option>
                                                <option value="Poster/Flyer">Poster/Flyer</option>
                                                <option value="College Magazine">College Magazine</option>
                                                <option value="Newspaper">Newspaper</option>
                                                <option value="School Expo/Career Fair">School Expo/Career Fair</option>
                                                <option value="Dawn/Jung/Express Education Expo">Dawn/Jung/Express Education Expo</option>
                                                <option value="Habib University Open House">Habib University Open House</option>
                                                <option value="HU TOPS Admissions Camp">HU TOPS Admissions Camp</option>
                                                <option value="Through a Habib University/HU TOPS Student">Through a Habib University/HU TOPS Student</option>
                                                <option value="Through Peers/Friends/Colleagues">Through Peers/Friends/Colleagues</option>
                                                <option value="Television/Radio">Television/Radio</option>
                                                <option value="Other">Other</option>
                                            </select>
                                            <span class="text-danger" id="hearAboutHU"></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group" id="divOtherHearHU" style="display:none;">
                                            <label>Other<span class="text-danger h-6" style="font-size: 1.1rem;">*</span></label>
                                            <input type="text" class="form-control" id="OtherHearHU" value="@Model.PersonalInfo.HearAboutHUOther" name="HearAboutHUOther" />
                                            <span class="text-danger" id="hearAboutHUOther"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Have you ever applied at Habib University?<span class="text-danger h-6" style="font-size: 1.1rem;">*</span></label>
                                            @if (Model.PersonalInfo.IsAppliedBefore == 1)
                                            {
                                                <input type="radio" name="IsAppliedBefore" id="AppliedBeforeYes" onclick="toggleFormSection('AppliedBeforeSection', this.id)" value="1" checked />
                                            }
                                            else
                                            {
                                                <input type="radio" name="IsAppliedBefore" id="AppliedBeforeYes" onclick="toggleFormSection('AppliedBeforeSection', this.id)" value="1" />
                                            }
                                            <label for="AppliedBeforeYes">Yes</label>
                                            @if (Model.PersonalInfo.IsAppliedBefore == 0)
                                            {
                                                <input type="radio" name="IsAppliedBefore" id="AppliedBeforeNo" onclick="toggleFormSection('AppliedBeforeSection', 'AppliedBeforeYes')" value="0" checked />
                                            }
                                            else
                                            {
                                                <input type="radio" name="IsAppliedBefore" id="AppliedBeforeNo" onclick="toggleFormSection('AppliedBeforeSection', 'AppliedBeforeYes')" value="0" />
                                            }
                                            <label for="AppliedBeforeNo">No</label><br />
                                            <span class="text-danger" id="errAppliedBefore"></span>
                                        </div>
                                        
                                    </div>
                                    <div class="col-lg-8" id="AppliedBeforeSection">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>E-Application ID or HU TOPS Application ID<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                                    <input class="form-control" type="text" id="AppliedBeforeId" value="@Model.PersonalInfo.AppliedBeforeId" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Year applied in<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                                    <select class="form-control" id="AppliedBeforeYear">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input class="savebtn global-btn-purple  float-right m-1" type="button" onclick="validatePersonalInfoForm();" value="Next">
                                    </div>
                                </div>
                                <input type="text" name="ResidentialCountry" id="txtResidentialCountry" style="display:none;" />
                                <input type="text" name="ResidentialProvince" id="txtResidentialProvince" style="display:none;" />
                                <input type="text" name="ResidentialCity" id="txtResidentialCity" style="display:none;" />

                                <input type="text" name="PermanentCountry" id="txtPermanentCountry" style="display:none;" />
                                <input type="text" name="PermanentProvince" id="txtPermanentProvince" style="display:none;" />
                                <input type="text" name="PermanentCity" id="txtPermanentCity" style="display:none;" />
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card m-4">
            <div class="card-header CollapseCard" id="headingTwo" onclick="document.getElementById('btnEducation').click();">
                <h2 class="mb-0">
                    <a class="btn btn-link collapsed w-100" data-toggle="collapse" id="btnEducation" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Educational Information
                        <span class="w-100"><i class="fa-solid" aria-hidden="true" style="color: white;font-size: 39px;"></i></span>

                    </a>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="boxWraper infoBox">
                            <div class="headBox">
                                <h2>Education</h2>
                            </div>
                            <form method="post" id="EducationForm">
                                <div class="headBox">
                                    <h6>HSSC/College Information</h6>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="currentLevel">Your Current Level of Study<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <select class="form-control" id="currentLevel" name="currentLevel" onchange="ShowHideField('divUniName', 'currentLevel', 'Already enrolled in a University'); LoadYear('startingYear');" required>
                                                <option value="" selected disabled>Select Value </option>
                                                <option value="HSSC II in progress">HSSC II in progress</option>
                                                <option value="HSSC II Completed">HSSC II Completed</option>
                                                <option value="Already enrolled in a University">Already enrolled in a University</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-lg-3" id="divUniName">
                                        <div class="form-group">
                                            <label for="universityName">University Name<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <input class="form-control" type="text" id="universityName" value="@Model.Education.UniversityName" name="universityName">
                                            <span class="text-danger" id="errUniversityName"></span>
                                            <br><br>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="boardOfEducation">Board Of Education<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <select class="form-control" id="boardOfEducation" name="boardOfEducation" onchange="GetGroupListFromObj(this.value);" required>
                                                <option value="" selected disabled>Select Board</option>
                                                @if ("Board Of Intermediate" == Model.Education.HSSCBoardName)
                                                {
                                                    <option value="IB" selected>Board Of Intermediate</option>
                                                }
                                                else
                                                {
                                                    <option value="IB">Board Of Intermediate</option>
                                                }
                                                @if ("Federal Board" == Model.Education.HSSCBoardName)
                                                {
                                                    <option value="FB" selected>Federal Board</option>
                                                }
                                                else
                                                {
                                                    <option value="FB">Federal Board</option>
                                                }
                                                @if ("Aga Khan University Examination Board" == Model.Education.HSSCBoardName)
                                                {
                                                    <option value="AKUB" selected>Aga Khan University Examination Board</option>
                                                }
                                                else
                                                {
                                                    <option value="AKUB">Aga Khan University Examination Board</option>
                                                }

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="groupOfStudy">Group Of Study<span class="text-danger h-6" style="font-size: 1.1rem;">*</span></label>
                                            <select class="form-control" id="groupOfStudy" name="groupOfStudy" onchange="GetSubjects(this.value)" required>
                                                <option value="" selected disabled>Select Group</option>
                                                @if ("Pre-Engineering" == Model.Education.HSSCGroupName)
                                                {
                                                    <option value="Pre-Engineering" selected>Pre-Engineering</option>
                                                }
                                                else
                                                {
                                                    <option value="Pre-Engineering">Pre-Engineering</option>
                                                }
                                                @if ("Pre-Medical" == Model.Education.HSSCGroupName)
                                                {
                                                    <option value="Pre-Medical" selected>Pre-Medical</option>
                                                }
                                                else
                                                {
                                                    <option value="Pre-Medical">Pre-Medical</option>
                                                }
                                                @if ("Computer Science/General Science" == Model.Education.HSSCGroupName)
                                                {
                                                    <option value="General Science/Computer Science" selected>General Science/Computer Science</option>
                                                }
                                                else
                                                {
                                            <option value="General Science/Computer Science">General Science/Computer Science</option>
                                                }
                                                @if ("Commerce" == Model.Education.HSSCGroupName)
                                                {
                                                    <option value="Commerce" selected>Commerce</option>
                                                }
                                                else
                                                {
                                                    <option value="Commerce">Commerce</option>
                                                }
                                                @if ("Arts/Humanities" == Model.Education.HSSCGroupName)
                                                {
                                                    <option value="Arts/Humanities" selected>Arts/Humanities</option>
                                                }
                                                else
                                                {
                                                    <option value="Arts/Humanities">Arts/Humanities</option>
                                                }
                                                @if ("Home Economics" == Model.Education.HSSCGroupName)
                                                {
                                                    <option value="Home Economics" selected>Home Economics</option>
                                                }
                                                else
                                                {
                                                    <option value="Home Economics">Home Economics</option>
                                                }

                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="collegeName">Current College/Last College Name<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <input class="form-control" type="text" value="@Model.Education.HSSCSchoolName" id="collegeName" name="collegeName" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="collegeAddress">College Address with City Name:</label>
                                            <textarea class="form-control" id="collegeAddress" name="collegeAddress" rows="2"> @Model.Education.HSSCSchoolAddress</textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="startingYear">Starting Year<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <select class="form-control" id="startingYear" name="startingYear" required>

                                                <!-- Options for years, you can generate these dynamically with JavaScript -->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="completionYear">Completion Year<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <select class="form-control" id="completionYear" name="completionYear" required>
                                                <!-- Options for years, you can generate these dynamically with JavaScript -->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="hsscPercentage">Overall HSSC Percentage<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <input class="form-control Percentage" type="text" id="hsscPercentage" value="@Model.Education.HSSCPercentage" name="hsscPercentage" required>
                                        </div>
                                    </div>
                                </div><br /><br />
                                <div class="headBox">
                                    <h6>SSC/School Information</h6>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="secondarySchoolName">Secondary Education School Name<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <input class="form-control" type="text" id="secondarySchoolName" value="@Model.Education.SSCSchoolName" name="secondarySchoolName" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="secondarySchoolAddress">Secondary Education School Address with City Name:</label>
                                            <textarea class="form-control" type="text" id="secondarySchoolAddress" name="secondarySchoolAddress" rows="2"> @Model.Education.SSCSchoolAddress</textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="sscPercentage">Overall SSC Percentage<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                            <input class="form-control Percentage" value="@Model.Education.SSCPercentage" type="text" id="sscPercentage" name="sscPercentage" required>
                                        </div>
                                    </div>
                                </div>
                                <!-- Habib University Section -->
                                <div class="headBox">
                                    <h6>Intended Program</h6>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Which HU School are you planning to apply to at Habib University?<span class="text-danger h-6" style="font-size: 1.1rem;">*</span></label><br>
                                            <input type="radio" id="dhananiSchool" name="huSchool" value="SE" onclick="loadPrograms(this.value)" required>
                                            <label for="dhananiSchool">Dhanani School of Science and Engineering</label><br>
                                            <input type="radio" id="artsSchool" name="huSchool" value="SA" onclick="loadPrograms(this.value)">
                                            <label for="artsSchool">School of Arts, Humanities and Social Sciences</label><br>
                                            <span class="text-danger" id="errHUSchool"></span>
                                        </div>
                                        
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Which Degree Program you are planning to pursue at Habib University?<span class="text-danger h-6" style="font-size: 1.1rem;">*</span></label><br>
                                            <!-- This section will be updated based on the selection in the previous question -->
                                            <!-- You can use JavaScript to update the options based on the selection -->
                                            <select class="form-control" id="degreeProgram" name="degreeProgram" onchange="ValidateProgram(this.value);" required>
                                                <option value="" selected disabled>Select Bachelor's Program</option>
                                            </select>

                                        </div>
                                        <span class="text-danger" id="errDegreeProgram"></span>
                                    </div>

                                </div>


                                <section>
                                    <div class="headBox">
                                        <h2>Your Optional/Elective Subjects in HSSC:</h2>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Subject Name:<span class="text-danger h-6" style="font-size: 1.1rem;">*</span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div id="divSubjects">
                                                @foreach (var item in Model.Subjects)
                                                {
                                                    <div class="row">
                                                        <div class="col-lg-3">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control SubjectName" value="@item.Name">
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <button type="button" class="global-btn-purple float-right" onclick="AddRow();"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <hr />
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input class="savebtn global-btn-purple  float-right m-1" type="button" onclick="SubmitEducation();" value="Next">
                                    </div>
                                </div>
                            </form>
                            <div id="Error">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card m-4">
            <div class="card-header CollapseCard" id="headingThree" onclick="document.getElementById('btnDocument').click();">
                <h2 class="mb-0">
                    <a class="btn btn-link collapsed w-100" id="btnDocument" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Documents
                        <span class="w-100"><i class="fa-solid" aria-hidden="true" style="color: white;font-size: 39px;"></i></span>

                    </a>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="boxWraper infoBox">
                            <div class="headBox">
                                <h2>Documents</h2>
                            </div>
                            <form id="fileUploadForm" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-lg-6">

                                        <label>A recent passport size photograph. Please do not use old photographs.<span class="text-danger h-6" style="font-size: 1.1rem;">*</span></label>
                                    </div>
                                    <div class="col-lg-3">
                                        @if (Utility.GetAdminFromSession().Id != 0)
                                        {
                                            <input class="form-control" type="file" id="Photograph" size="1" name="Photograph" accept=".jpeg, .jpg" value="@Model.Document.Photograph" onchange="checkFileSize(this.id, 'errPhoto')">
                                        }
                                        else
                                        {
                                            <input class="form-control" type="file" id="Photograph" size="1" name="Photograph" accept=".jpeg, .jpg" value="@Model.Document.Photograph" onchange="checkFileSize(this.id, 'errPhoto')" required>
                                        }
                                        <span class="text-danger" id="errPhoto"></span>
                                    </div>
                                    <!-- Other file input fields -->

                                    <div class="col-lg-3">
                                        @if (@Model.Document.Photograph != null && @Model.Document.Photograph != "")
                                        {
                                            <a href="/Application/View?doc=1" target="_blank" class="btn btn-default form-control"><i class="fa-solid fa-eye" style="color: blue;"></i></a>
                                        }
                                    </div>
                                </div><br /><br />
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label>A scanned copy of your original SSC Final Marks Sheet <span class="text-danger h-6" style="font-size: 1.1rem;">*</span></label>
                                        </div>
                                        <div class="col-lg-3">
                                            @if (Utility.GetAdminFromSession().Id != 0)
                                            {
                                                <input type="file" class="form-control" id="SSCMarkSheet" size="1" name="SSCMarkSheet" accept=".jpeg, .jpg" value="@Model.Document.SSCMarkSheet" onchange="checkFileSize(this.id, 'errSSC')">
                                            }
                                            else
                                            {
                                                <input type="file" class="form-control" id="SSCMarkSheet" size="1" name="SSCMarkSheet" accept=".jpeg, .jpg" value="@Model.Document.SSCMarkSheet" onchange="checkFileSize(this.id, 'errSSC')" required>
                                            }
                                            <span class="text-danger" id="errSSC"></span>
                                        </div>

                                        <div class="col-lg-3">
                                            @if (@Model.Document.SSCMarkSheet != null && @Model.Document.SSCMarkSheet != "")
                                            {
                                                <a href="/Application/View?doc=2" target="_blank" class="btn btn-default form-control"><i class="fa-solid fa-eye" style="color: blue;"></i></a>
                                            }
                                        </div>
                                    </div><br /><br />
                                    <div class="row">
                                        <div class="col-lg-6">

                                            <label>A scanned copy of your original HSSC I or final HSSC Marks Sheet</label>
                                        </div>

                                        <div class="col-lg-3">
                                            <input type="file" class="form-control" id="HSSCMarkSheet" size="1" name="HSSCMarkSheet" accept=".jpeg, .jpg" value="@Model.Document.HSSCMarkSheet" onchange="checkFileSize(this.id, 'errHSSC')">
                                            <span class="text-danger" id="errHSSC"></span>
                                        </div>
                                        <div class="col-lg-3">
                                            @if (@Model.Document.HSSCMarkSheet != null && @Model.Document.HSSCMarkSheet != "")
                                            {
                                                <a href="/Application/View?doc=3" target="_blank" class="btn btn-default form-control"><i class="fa-solid fa-eye" style="color: blue;"></i></a>
                                            }
                                        </div>
                                    </div><br /><br />
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label>A scanned copy of your B-Form or CNIC (If available)</label>
                                        </div>

                                        <div class="col-lg-3">
                                            <input type="file" id="CNIC" class="form-control" size="1" name="CNIC" accept=".jpeg, .jpg" value="@Model.Document.CNIC" onchange="checkFileSize(this.id, 'errCNIC')">
                                            <span class="text-danger" id="errCNIC"></span>
                                        </div>
                                        <div class="col-lg-3">
                                            @if (@Model.Document.CNIC != null && @Model.Document.CNIC != "")
                                            {
                                                <a href="/Application/View?doc=4" target="_blank" class="btn btn-default form-control"><i class="fa-solid fa-eye" style="color: blue;"></i></a>
                                            }
                                        </div>
                                    </div><br /><br />
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input class="savebtn global-btn-purple  float-right" type="button" onclick="submitDocuments('');" value="Next">
                                    </div>
                                </div>
                            </form>
                            <div id="Error">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card m-4">
            <div class="card-header CollapseCard" id="headingThree" onclick="document.getElementById('btnTest').click();">
                <h2 class="mb-0">
                    <a class="btn btn-link collapsed w-100" id="btnTest" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                        Test Date
                        <span class="w-100"><i class="fa-solid" aria-hidden="true" style="color: white;font-size: 39px;"></i></span>


                    </a>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="boxWraper infoBox">
                            <div class="headBox">
                                <h2>Test Date</h2>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">

                                        <label for="currentLevel">To appear for HU TOPS Qualifying Round Test (Core Skills Test). Please choose a test date<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>:</label>
                                        <select class="form-control" id="TestDate" required>
                                            <option value="">Select Date </option>
                                            @foreach (var item in Model.TestDate)
                                            {
                                                if (item.Value.ToString() == Model.PersonalInfo.TestDate)
                                                {
                                                    <option value="@item.Value" selected>@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        </select>
                                        <span class="text-danger" id="testdateError"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input class="savebtn global-btn-purple  float-right" type="button" onclick="SubmitTestDate();" value="Next">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card m-4">
            <div class="card-header CollapseCard" id="headingThree" onclick="document.getElementById('btnDeclaration').click();">
                <h2 class="mb-0">
                    <a class="btn btn-link collapsed w-100" id="btnDeclaration" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                        Declarations

                        <span class="w-100"><i class="fa-solid" aria-hidden="true" style="color: white;font-size: 39px;"></i></span>

                    </a>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="boxWraper infoBox">
                            <div class="headBox">
                                <h2>Declarations</h2>
                            </div>
                            <form method="post">
                                <div class="row m-1">
                                    <div class="col-lg-12">
                                        <label class="container">
                                            The Information provided by me regarding this application is true and complete.<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>
                                            <input type="checkbox" id="validInfo" name="validInfo" required>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <br /><br />
                                <div class="row m-1">
                                    <div class="col-lg-12">
                                        <label class="container">
                                            I understand that any inaccurate/false information shall render this application invalid, and if admitted on the basis of such information, I may be asked to leave at any stage of the program.<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>
                                            <input type="checkbox" id="invalidInfo" name="invalidInfo" required>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <br /><br />
                                <div class="row m-1">
                                    <div class="col-lg-12">
                                        <label class="container">
                                            I understand that the provision of any inaccurate or false information may render me liable to prosecution in a court of law in Pakistan.<span class="text-danger h-6" style="font-size: 1.1rem;">*</span>
                                            <input type="checkbox" id="validateLaw" name="invalidInfo" required>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <br /><br />
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input class="savebtn global-btn-purple  float-right" type="button" onclick="submitDeclaration();" value="Submit">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row" id="errorBlock">
        <div class="col-md-3 m-4">
            <h6 class="form-control">Personal Information Errors</h6>
            <div id="PersonalError">
                <ul></ul>
            </div>
        </div>
        <div class="col-md-3 m-4">
            <h6 class="form-control">Educational Information Errors</h6>
            <div id="EducationError">
                <ul></ul>
            </div>
        </div>
        <div class="col-md-3 m-4">
            <h6 class="form-control">Document Errors</h6>
            <div id="DocumentError">
                <ul></ul>
            </div>
        </div>
    </div>
</div>

<a href="/Application/Success" id="redirectToSuccess" style="display:none;">success</a>

<script>

    if ('@Model.PersonalInfo.IsAppliedBefore' != '1') {
        $('#AppliedBeforeSection').hide();
    }
    
    $('#errorBlock').hide();
    $('#divUniName').hide();
    LoadYear('startingYear');
    LoadYear('completionYear');
    LoadYear('AppliedBeforeYear');

    LoadYear('dobYear');
    // Load Personal Informations

    $('#comboHearHU').val('@Model.PersonalInfo.HearAboutHU');
    $('#comboHearHU').trigger('change');

    $('#AppliedBeforeYear').val('@Model.PersonalInfo.AppliedBeforeYear');
    $('#AppliedBeforeYear').trigger('change');

    LoadDate('@Model.PersonalInfo.DateOfBirth', 'dob');
    LoadTestDate('@Model.PersonalInfo.TestDate');
    // Load Educational Informaiton
    LoadEducationalData(@Html.Raw(Json.Encode(Model)));
</script>