<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Custom/LoginCustom.css" rel="stylesheet" />
    <title>@Page.Title - HUTOPS</title>
    <link rel="icon" type="image/x-icon" href="~/Content/img/favicon.ico">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>*@
    <style>
        .input:-internal-autofill-selected {
            box-shadow: 0px 2px 2px #D9BEE0;
            border: solid 1px #D9BEE0;
            outline: 0;
        }

        .input {
            width: 100%;
            height: 40px;
            border-radius: 6px;
            background-color: #f4e9f7;
            border: solid 1px #f4e9f7;
            transition: all .18s linear;
            padding: 0 5px;
        }

        .input100 {
            /* font-family: Poppins-Medium; */
            font-size: 15px;
            line-height: 1.5;
            color: #666666;
            display: block;
            width: 100%;
            background: #f2f2f2;
            height: 50px;
            border-radius: 5px;
            padding: 0 30px 0 54px;
            border: solid 1px #ccc;
        }

        login-area {
            width: 36%;
            padding: 15px 15px;
            font-size: 17px !important;
            /* background: #fff; */
            /* color: #fff; */
            /* text-align: center; */
            text-align: left !important;
            text-justify: justify;
            float: left;
            height: 500px;
            margin-bottom: 10px;
            /* border: solid 1px #5c2568; */
        }
    </style>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/notify.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
    <script src="~/Scripts/customLogin.js"></script>

</head>
<body>
    @RenderBody()
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>